@model CityGoodTaste.Models.RestaurantSchema


<div class="col-sm-6">@Html.Partial("~/Views/Restaurant/_SchemaPartial.cshtml", Model)</div>
<div class="col-sm-3 text-center" style="border-top:none; padding:0;">
    <ul id="nav" class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#confirmedReservs">Подтвержденные</a></li>
        <li><a data-toggle="tab" href="#notConfirmedReservs">Неподтвержденные</a></li>
    </ul>
    <div class="tab-content">
        <div id="confirmedReservs" class="tab-pane fade  in active">
            <div id="confirmedReservsList" class="list-group">
                @foreach (var table in Model.Tables)
                {
                    var reserv = table.TableReservation.FirstOrDefault();
                    if (reserv == null) { continue; };
                    if (reserv.ReservedAndConfirmed == true)
                    {                     
                        <a tablelistId="@(reserv.Table.Id)" href="#" class="list-group-item" style="border-radius: 0">
                            <div class="row">
                                <div class="pull-left" style="padding-left:10px">@reserv.Date.Date.ToShortDateString() @reserv.Date.ToShortTimeString()</div>
                                <div class="col-sm-6">@reserv.ContactInfoName  @reserv.ContactInfoPhone</div>
                                <div class="pull-right" style="padding-right:10px"><span reservId="@(reserv.Id)" tablespanId="@(reserv.Table.Id)" style="color:#cb3434" class="glyphicon glyphicon-remove"></span></div>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
        <div id="notConfirmedReservs" class="tab-pane fade">
            <div class="list-group">
                @foreach (var table in Model.Tables)
                {
                    var reserv = table.TableReservation.FirstOrDefault();
                    if (reserv == null) { continue; };
                    if (reserv.Reserved == true && reserv.ReservedAndConfirmed == false)
                    {
                        string name = string.IsNullOrEmpty(reserv.ContactInfoName) ? reserv.User.Name : reserv.ContactInfoName;
                        name = string.IsNullOrEmpty(name) ? "Имя отсутстувет" : name;
                        string phone = string.IsNullOrEmpty(reserv.ContactInfoPhone) ? reserv.User.PhoneNumber : reserv.ContactInfoPhone;
                        phone = string.IsNullOrEmpty(phone) ? "Телефон отсутствует" : phone;

                        <a tablelistId="@(reserv.Table.Id)" href="#" class="list-group-item" style="border-radius: 0">
                            <div class="row">
                                <div class="pull-left" style="padding-left:10px">@reserv.Date.Date.ToShortDateString() @reserv.Date.ToShortTimeString()</div>
                                <div class="col-sm-6">@name  @phone</div>
                                <div class="pull-right" style="padding-right:10px"><span reservId="@(reserv.Id)" tablespanId="@(reserv.Table.Id)" style="color:#cb3434" class="glyphicon glyphicon-remove"></span></div>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
    </div>
</div>


<script>
                $(document).ready(function () {

                    HighlightTableListClick();

                    RemoveReservationMinusClick();

                    SelectTableForReservation();
                });


                function RemoveReservationMinusClick() {
                    $('.glyphicon-remove').click(function () {
                        var reservId = $(this).attr('reservId');
                        $('#reservNumber').val(reservId);
                        $('#unreservModalLink').click();
                    });
                };

                function HighlightTableListClick() {
                    $("a[tablelistId]").click(function (event) {
                        UnCheckNewReservationCheckBox();
                        var tableId = $(this).attr('tablelistId');
                        $('td[selected]').css("background-color", '#fcfcfc');
                        $('td[selected]').removeAttr('selected');
                        $('td[tableid="' + tableId + '"]').css("background-color", '#fcffbc');
                        $('td[tableid="' + tableId + '"]').attr("selected", "selected");
                        
                    });
                };

                function SelectTableForReservation() {
                    $('td').click(function (event) {
                        if ($('#checkboxNewReservs:checked').val() != 'on') return;
                        event.stopPropagation();
                        var id = event.target.id;
                        if (id.indexOf('.') > 0)
                            id = id.substring(id.indexOf('.') + 1);

                        var reserved = document.getElementById(id).getAttribute('newReserved');
                        if (document.getElementById(id).getAttribute('reservedandconfirmed') == "True")
                            return;

                        var tableId = document.getElementById('imgP.' + id).getAttribute('tableId');
                        if (reserved == "True") {
                            $('td[id="' + id + '"]').css("background-color", '#fcfcfc');
                            document.getElementById(id).removeAttribute('newReserved');
                            document.getElementById('newReserved.' + tableId).value = false;
                        } else {
                            $('td[id="' + id + '"]').css("background-color", '#9fff9b');
                            document.getElementById(id).setAttribute('newReserved', 'True');
                            document.getElementById('newReserved.' + tableId).value = true;
                        }
                    });
                };
</script>