@using CityGoodTaste.Models;

@model CityGoodTaste.Models.Restaurant


<div id="reviewsContent">
    @foreach (var item in Model.Reviews)
    {
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <table style="border-spacing: 2px 3px; border-collapse:unset">
                        <tr>
                            <td class="well" style="border-radius:15px; padding:10px; padding-bottom:0px; background-color:#fcfcfc">
                                <img src="https://placehold.it/190x190?text=@item.User.Name[0]" class="img-circle" width="90" height="90" alt="Avatar">
                                <br />
                                <h5 style="text-align:center"><span style="font-weight:600; color:#808080">@item.User.Name</span></h5>
                            </td>
                            <td class="well" style="width:100%; border-radius:10px;padding:10px; vertical-align:top; background-color:#fcfcfc">
                                <div style="text-align:right; margin-bottom:5px; color:#808080; font-size:smaller">@item.Date.Date.ToShortDateString().ToString() @item.Date.Hour.ToString():@item.Date.Minute.ToString()</div>
                                <div style="padding-left:10px;font-size:medium">@item.Text</div>

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    @*var flag = @Html.Raw(Json.Encode(ViewData["NewReviewAdded"]));*@
</script>