@using CityGoodTaste.Models
@model CityGoodTaste.Models.RestaurantSchema



<div class="container-fluid">
    @Html.HiddenFor(m => Model.Restaurant.Id)
    @Html.HiddenFor(m => Model.Id)
    @Html.HiddenFor(m => Model.XLength)
    @Html.HiddenFor(m => Model.YLength)
    <table style="border-left:3px solid black;">
        @for (int y = 0; y < Model.YLength; y++)
            {
            <tr>
                @for (int x = 0; x < Model.XLength; x++)
                {
                    bool tdCreated = false;

                    for (int i = 0; i < Model.Tables.Count; i++)
                    {
                        if (Model.Tables.ToList()[i].X == x && Model.Tables.ToList()[i].Y == y)
                        {
                            @Html.HiddenFor(m => Model.Tables[i].Id)
                            @Html.HiddenFor(m => Model.Tables[i].Seats)
                            @Html.HiddenFor(m => Model.Tables[i].RestaurantSchema.Id)

                            if (Model.Tables.ToList()[i].TableReservation.Count == 0)
                            {
                                Model.Tables.ToList()[i].TableReservation.Add(new TableReservation { Date = DateTime.Now, Reserved = false, ReservedAndConfirmed = false, Table = Model.Tables.ToList()[i] });
                            }

                            @Html.HiddenFor(m => Model.Tables[i].TableReservation[0].Id)
                            @Html.HiddenFor(m => Model.Tables[i].TableReservation[0].Reserved, new { id = "reserved." + Model.Tables[i].Id })
                            @Html.HiddenFor(m => Model.Tables[i].TableReservation[0].Table.Id)
                            @Html.HiddenFor(m => Model.Tables[i].TableReservation[0].Date)
                            @Html.HiddenFor(m => Model.Tables[i].TableReservation[0].User.Id)
                            string personPath = string.Empty;
                            string tablePath = string.Empty;
                            string seatsColor = "black";

                            if (Model.Tables.ToList()[i].TableReservation.ToList()[0].ReservedAndConfirmed == true)
                            {
                                personPath = "/Content/icons/SchemaIcons/InactivePerson.png";
                                tablePath = "/Content/icons/SchemaIcons/InactiveTable.png";
                                seatsColor = "#808080";
                            }
                            else if (Model.Tables.ToList()[i].TableReservation.ToList()[0].Reserved == true)
                            {
                                personPath = "/Content/icons/SchemaIcons/ActivePerson.png";
                                tablePath = "/Content/icons/SchemaIcons/ActiveTable.png";
                            }
                            else
                            {
                                personPath = "/Content/icons/SchemaIcons/Person.png";
                                tablePath = "/Content/icons/SchemaIcons/Table.png";
                            }

                            <td id="@x@y" coord="@x.@y" style="width:80px;height:40px;"
                                tableid="@Model.Tables.ToList()[i].Id"
                                reserved="@Model.Tables.ToList()[i].TableReservation.ToList()[0].Reserved.ToString()"
                                reservedandconfirmed="@Model.Tables.ToList()[i].TableReservation.ToList()[0].ReservedAndConfirmed.ToString()"
                                seats="@Model.Tables.ToList()[i].Seats">
                                <div style="position:relative; top:-3px; right:-19px"><span style="font-size:13px; font-weight:bold; color:#bd0b0b; position:absolute;">
                                    <span style="font-weight:normal; color:#bd0b0b;">#</span>@Model.Tables.ToList()[i].Id</span>
                                </div>
                                                              
                                <div id="divP.@x@y" style="top:8px; position:relative" tableid="@Model.Tables.ToList()[i].Id">                                  
                                    <p id="P.@x@y" style="font-weight:bold; color:@(seatsColor)" tableid="@Model.Tables.ToList()[i].Id">
                                        @Model.Tables.ToList()[i].Seats
                                        <img id="imgP.@x@y" style="width:15px; height:15px" src="@(personPath)" tableid="@Model.Tables.ToList()[i].Id" />
                                    </p>
                                </div>
                                <div id="divT.@x@y" style="top:-8px; position:relative" tableid="@Model.Tables.ToList()[i].Id">
                                    <img id="imgT.@x@y" style="width:36px; height:18px" src="@(tablePath)" alt="loading" tableid="@Model.Tables.ToList()[i].Id" />
                                </div>
                            </td>
                            tdCreated = true;
                            break;
                        }
                    }
                    if (!tdCreated)
                    {
                        <td id="@x@y" coord="@x.@y" style="width:80px;height:40px;"></td>
                    }
                }
            </tr>
        }
    </table>
</div>


<script src="~/Scripts/Custom/CreateSchema.js"></script>