@model CityGoodTaste.Models.OrderFood


<div>
    @{
        int SUM = 0;
    }
    @for (int i = 0; i < Model.meal.Count; i++)
    {
        <span>@Model.meal[i].Name @Model.count[i] x @Model.meal[i].Price @Model.currency</span>
        <button type="submit" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <br />
        @SUM += @Model.count[i] * @Model.meal[i].Price;
    }

    @CityGoodTaste.Resources.Resource.Total: @SUM @Model.currency
</div>