@model CityGoodTaste.Models.ConfirmReserve
@{
    ViewBag.Title = "ConfirmReserve";
}

<h2>ConfirmReserve</h2>

<div style="margin-left:10%;margin-right:10%">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Restaurant.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restaurant.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Restaurant.Address)
        </dt>

        <dd>
            (@Model.Restaurant.ZipCode) @Model.Restaurant.City.Country.Name
            @Model.Restaurant.City.Name @Model.Restaurant.Address
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Restaurant.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restaurant.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tables)
        </dt>

        <dd>
            @foreach (var Table in @Model.Tables)
            {
                <span>
                    @Table.Id.ToString()
                </span>
                <span>
                    (@Table.Seats.ToString())
                </span>
            }

        </dd>

        <dt>
            Дополнение к заказу: 
        </dt>
        <dd>
            @CityGoodTaste.Resources.Resource.Menu:
            <div id="selMenu">

            </div>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">@CityGoodTaste.Resources.Resource.Menu</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <ul class="nav nav-tabs">
                            @for (int i = 0; i < @Model.Restaurant.Menu.Count; i++)
                            {
                                var SubMenu = @Model.Restaurant.Menu.ToList()[i];
                                string isActive = "";
                                if (SubMenu == @Model.Restaurant.Menu.First())
                                    isActive = "active";
                                string ShSubMenuID = "#SubMenu" + @i;
                                <li class=@isActive><a data-toggle="tab" href=@ShSubMenuID>@SubMenu.Name</a></li>
                            }
                        </ul>
                        <div class="tab-content">
                            @for (int i = 0; i < @Model.Restaurant.Menu.Count; i++)
                            {
                                var SubMenu = @Model.Restaurant.Menu.ToList()[i];
                                string isActiveM = "";
                                if (SubMenu == @Model.Restaurant.Menu.First())
                                    isActiveM = "in active";
                                string SubMenuID = "SubMenu" + @i;
                                
                                <div id=@SubMenuID class="tab-pane fade @isActiveM">
                                    <div class="panel-group" id="accordionMeal">
                                        @for (int j = 0; j < SubMenu.MealGroups.Count; j++)
                                        {
                                            var MealGroup = SubMenu.MealGroups.ToList()[j];
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        @{
                                                            string colShID = "#collapseMealGroup" + @i + @j;
                                                        }
                                                        <a data-toggle="collapse" data-parent="#accordionMeal" href=@colShID>
                                                            <span>
                                                                @MealGroup.Name
                                                            </span>
                                                        </a>
                                                    </h4>
                                                </div>
                                                @{

                                                    string colID = "collapseMealGroup" + @i + @j;
                                                }
                                                <div id=@colID class="panel-collapse collapse">
                                                    <div class="panel-bodycol-sm-12">
                                                        <div class="well">
                                                            <table class="table">
                                                                @foreach (var Meal in MealGroup.Meals)
                                                                {
                                                                    using (Ajax.BeginForm("ConfirmReserveAddMeal", new { id = "EventsForm" }, new AjaxOptions { UpdateTargetId = "selMenu", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" }))
                                                                    {
                                                                    <tr>
                                                                        <td style="width:110px">
                                                                            <img class="img-thumbnail" src="https://placehold.it/100x100?text=@Meal.Name" alt="Image">
                                                                        </td>
                                                                        <td style="text-align:left">
                                                                            <p style="font-size:large; margin:0;" class="form-control"  name="meal">@Meal.Name</p>
                                                                            <p>@Meal.Description</p>
                                                                        </td>
                                                                        <td style="width:100px">
                                                                           <label class="form-control">@Meal.Price</label>@Meal.Currency.sing
                                                                            <br />
                                                                            <input style="visibility:hidden" type="text" name="Id" value=@Meal.Id />
                                                                        </td>
                                                                        <td style="width:70px">
                                                                            <input id="spinner" class="form-control"  min="0" style="width:50px" value="0" type="number" name="value">
                                                                        </td>
                                                                        <td style="width:auto">
                                                                            <input  type="submit" value=@CityGoodTaste.Resources.Resource.ButtonAdd>
                                                                        </td>
                                                                    </tr>
                                                                        }
                                                                    }
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                    }
                                    </div>
                                </div>
                                                    }
                        </div>

                    </div>
                </div>
            </div>
        </dd>
    </dl>
</div>




<p>
    @Html.ActionLink(CityGoodTaste.Resources.Resource.ButtonConfirm, "") |
    @Html.ActionLink(CityGoodTaste.Resources.Resource.ButtonCancel, "Details", new { id = Model.Restaurant.Id })
</p>

