@model CityGoodTaste.Models.Restaurant

@{
    ViewBag.Title = "Restaurant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string language = @CityGoodTaste.Controllers.HomeController.getCulture();
    string path = "../../../Scripts/Custom/Localization/datepicker-" + language + ".js";
    <script src=@path></script>
}

@*<link href="~/Content/icons/SchemaIcons/Table/style.css" rel="stylesheet" />
    <script src="~/Content/icons/SchemaIcons/Table/svgxuse.js"></script>

    <svg style="position: absolute; width: 0; height: 0; overflow: hidden" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="icon-table" viewBox="0 0 32 32">
                <title>table</title>
                <path d="M1 10.875v1.125h6.675l-1.45 4.925c-0.8 2.725-1.475 5.025-1.475 5.125 0 0.125 1.1 0.2 2.45 0.2h2.425l0.75-2.625 0.725-2.625h9.55l0.725 2.625 0.75 2.625h2.425c1.35 0 2.45-0.075 2.45-0.2 0-0.1-0.65-2.375-1.45-5.050l-1.45-4.875 6.9-0.15v-2.225h-30v1.125zM30.5 10.875v0.625h-29v-1.25h29v0.625zM12 12.275c0 0.15-0.125 0.475-0.25 0.75-0.25 0.45-0.15 0.475 4.125 0.475s4.375-0.025 4.125-0.475c-0.5-0.95-0.325-1.050 1.65-0.975l1.9 0.075 1.45 4.8 1.425 4.825h-3.85l-0.8-2.7-0.825-2.675h-10.15l-0.825 2.675-0.8 2.7h-3.85l1.35-4.575c0.75-2.5 1.4-4.7 1.45-4.875 0.15-0.375 3.875-0.425 3.875-0.025zM19.325 12.5c0.125 0.475 0 0.5-3.45 0.5s-3.575-0.025-3.45-0.5c0.125-0.475 0.35-0.5 3.45-0.5s3.325 0.025 3.45 0.5z"></path>
            </symbol>
        </defs>
    </svg>

    <div class="form-group">
        <svg class="icon icon-table table"><use xlink:href="#icon-table"></use></svg>
    </div>*@


<div class="container-fluid minPadding" style="margin-left: auto; margin-right: auto">
    <div class="col-sm-9">
        <div class="jumbotron" style="padding:0">
            <img class="img-responsive Center-Image-Width" src=@Model.Photo alt="img" />
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div>
                    <span class="deteilsTag">Название ресторана:</span>
                    @Html.DisplayFor(model => model.Name)
                </div>
                <div>
                    <span class="deteilsTag">Адрес:</span>
                    @Html.DisplayFor(model => model.Address), @Html.DisplayFor(model => model.City.Name), @Html.DisplayFor(model => model.City.Country.Name), @Html.DisplayFor(model => model.ZipCode)
                </div>
                <div>
                    <span class="deteilsTag">Телефон:</span>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    <span style="font-weight:bold">Лайки:</span>
                    <span class="badge"> <span class="glyphicon glyphicon-thumbs-up"></span> @Html.DisplayFor(model => model.Likes.Count)</span>
                </div>
                <div>
                    <span style="font-weight:bold">Средний чек:</span>
                    <span class="badge">@Html.DisplayFor(model => model.AverageCheck) ₴</span>
                </div>
            </div>
        </div>
        <br />
        <div>
            <div>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#review">Обзор</a></li>
                    <li><a data-toggle="tab" href="#menuRest">Меню</a></li>
                    <li><a data-toggle="tab" href="#notice">Афиша</a></li>
                    <li><a data-toggle="tab" href="#reviews">Отзывы</a></li>
                </ul>

                <div class="tab-content">
                    <div id="review" class="tab-pane fade in active">
                        <div>
                            <p style="margin-top:10px"><span class="deteilsTag">Описание:</span></p>
                            <p>@Html.DisplayFor(model => model.InformationAbout)</p>
                        </div>
                        <div>
                            <p><span class="deteilsTag">Особенности:</span></p>
                            <div class="row">
                                @*@for (int i = 0; i < Model.RestaurantFeatures.Count; i++)
                                {
                                    <div class="col-sm-4">@Model.RestaurantFeatures.ElementAt(i).Name</div>
                                }*@
                                <div class="col-sm-4"><span class="oi" data-glyph="wifi"></span> Wi-Fi</div>
                                <div class="col-sm-4"><span class="oi" data-glyph="musical-note"></span> Живая музыка</div>
                                <div class="col-sm-4"><span class="oi" data-glyph="sun"></span> Летняя площадка</div>
                                <div class="col-sm-4"><span class="oi" data-glyph="credit-card"></span> Оплата кредитной картой</div>
                                <div class="col-sm-4"><span class="oi" data-glyph="briefcase"></span> Бизнес ланч</div>
                                <div class="col-sm-4"><span class="oi" data-glyph="bell"></span> Завтраки</div>
                            </div>
                        </div>
                        <br />
                        <div>
                            <p><span class="deteilsTag">Часы работы:</span></p>
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>ПН</th>
                                        <th>ВТ</th>
                                        <th>СР</th>
                                        <th>ЧТ</th>
                                        <th>ПТ</th>
                                        <th>СБ</th>
                                        <th>ВС</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        @for (int i = 0; i < Model.WorkHours.Count; i++)
                                        {
                                            <th>@Model.WorkHours.ElementAt(i).OpenHour.Hours - @Model.WorkHours.ElementAt(i).CloseHour.Hours</th>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        @*<div>
                                <p><span class="deteilsTag">Телефон:</span> <span> @Html.DisplayFor(model => model.PhoneNumber)</span></p>

                            </div>*@
                        <div>
                            @*<p><span class="deteilsTag">Адрес:</span> @Html.DisplayFor(model => model.Address), @Html.DisplayFor(model => model.City.Name), @Html.DisplayFor(model => model.City.Country.Name), @Html.DisplayFor(model => model.ZipCode)</p>*@
                            <p><span class="deteilsTag">Карта:</span></p>
                            <div id="googleMap" style="height:400px;width:100%"></div>
                            <script>
                                var Lat = parseFloat(@Model.Map.Latitude.ToString().Replace(',','.'));
                                var Lng = parseFloat(@Model.Map.Longitude.ToString().Replace(',','.'));
                                var Zoom = @Model.Map.Zoom;
                                function myMap() {
                                    var myCenter = new google.maps.LatLng(Lat ,  Lng);
                                    var mapProp = { center: myCenter, zoom: Zoom, scrollwheel: false, draggable: false, mapTypeId: google.maps.MapTypeId.ROADMAP };
                                    var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
                                    var marker = new google.maps.Marker({ position: myCenter });
                                    marker.setMap(map);
                                }
                            </script>
                            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRO1uVeSSy5wTZOpDY0kGJR2347oaWJQ4&callback=myMap&language=ru" async defer></script>
                        </div>
                        <br />
                    </div>
                    <div id="menuRest" class="tab-pane fade">
                        <ul class="nav nav-tabs">
                            @for (int i = 0; i < Model.Menu.Count; i++)
                            {
                                var SubMenu = Model.Menu.ToList()[i];
                                string isActive = "";
                                if (SubMenu == Model.Menu.First())
                                { isActive = "active"; }
                                string ShSubMenuID = "#SubMenu" + @i;
                                <li class=@isActive><a data-toggle="tab" href=@ShSubMenuID>@SubMenu.Name</a></li>
                            }
                        </ul>
                        <div class="tab-content">
                            @for (int i = 0; i < Model.Menu.Count; i++)
                            {
                                var SubMenu = Model.Menu.ToList()[i];
                                string isActiveM = "";
                                if (SubMenu == Model.Menu.First())
                                { isActiveM = "in active"; }
                                string SubMenuID = "SubMenu" + @i;

                                <div id=@SubMenuID class="tab-pane fade @isActiveM">
                                    <div class="panel-group" id="accordionMeal">
                                        @for (int j = 0; j < SubMenu.MealGroups.Count; j++)
                                        {
                                            var MealGroup = SubMenu.MealGroups.ToList()[j];
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        @{
                                                            string colShID = "#collapseMealGroup" + @i + @j;
                                                        }
                                                        <a data-toggle="collapse" data-parent="#accordionMeal" href=@colShID>
                                                            <span>
                                                                @MealGroup.Name
                                                            </span>
                                                        </a>
                                                    </h4>
                                                </div>
                                                @{

                                                    string colID = "collapseMealGroup" + @i + @j;
                                                }
                                                <div id=@colID class="panel-collapse collapse">
                                                    <div class="panel-bodycol-sm-12">
                                                        <div class="well">
                                                            <table class="table">
                                                                @foreach (var Meal in MealGroup.Meals)
                                                                {
                                                                    <tr>
                                                                        <td style="width:110px">
                                                                            <img class="img-thumbnail" src=@Meal.Photo alt="Image">
                                                                        </td>
                                                                        <td style="text-align:left">
                                                                            <p style="font-size:large; margin:0;">@Meal.Name</p>
                                                                            <p>@Meal.Description</p>
                                                                        </td>
                                                                        <td style="width:100px">
                                                                            <p>@Meal.Price @Meal.Currency.sing</p>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                    }
                                    </div>
                                </div>
                                                    }
                        </div>
                    </div>
                    <div id="notice" class="tab-pane fade">
                        <div class="panel-group" id="accordionEvent">
                            @for (int i = 0; i < @Model.RestaurantEvent.Count; i++)
                            {
                                var Event = @Model.RestaurantEvent.ToList()[i];
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            @{
                                                string colSID = "#collapseEvent" + @i;
                                            }
                                            <a data-toggle="collapse" data-parent="#accordionEvent" href=@colSID>
                                                <span>
                                                    @Event.Name
                                                </span>
                                                <span>
                                                    (@Event.StartDate
                                                    - @Event.EndDate)
                                                </span>
                                            </a>
                                        </h4>
                                    </div>
                                    @{
                                        string isActive = "";
                                        string colID = "collapseEvent" + @i;
                                    }
                                    @if (i == 0)
                                    {
                                        isActive = "in";
                                    }
                                    <div id=@colID class="panel-collapse collapse @isActive">
                                        <div class="panel-body">
                                            <img class="img-responsive Center-Image-Width" src=@Event.Photo alt="Image">
                                            <p class="WordBreak">
                                                Типы события:
                                                @foreach (var EventType in @Event.EventTypes)
                                                {
                                                    <span>@EventType.Icon</span>
                                                    <span>@EventType.Name</span>
                                                    if (@EventType == @Event.EventTypes.Last())
                                                    {<span>.</span> }
                                                    else
                                                    {<span>, </span> }
                                                }
                                            </p>
                                            <p class="WordBreak">
                                                Описание: <br />
                                                @Event.Description
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                        }
                        </div>
                    </div>
                    <div id="reviews" class="tab-pane fade">
                        <div class="row">
                            <div class="col-sm-3">Кухня: @ViewData["foodRank"]/10</div>
                            <div class="col-sm-3">Сервис: @ViewData["serviceRank"]/10</div>
                            <div class="col-sm-3">Атмосфера: @ViewData["ambienceRank"]/10</div>
                        </div>
                        @Html.Partial("_ReviewsPartial", Model)
                    @using (Ajax.BeginForm("MakeReview", new { id = "ReviewForm" }, new AjaxOptions { UpdateTargetId = "reviewsContent", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" }))
                    {
                        <div class="row">
                            <div class="col-sm-3">
                                Атмосфера
                                <fieldset class="rating C">
                                    <input type="radio" id="star5-c" name="ratingC" value="10" /><label class="full" for="star5-c" title="Awesome - 5 stars"></label>
                                    <input type="radio" id="star4half-c" name="ratingC" value="9" /><label class="half" for="star4half-c" title="Pretty good - 4.5 stars"></label>
                                    <input type="radio" id="star4-c" name="ratingC" value="8" /><label class="full" for="star4-c" title="Pretty good - 4 stars"></label>
                                    <input type="radio" id="star3half-c" name="ratingC" value="7" /><label class="half" for="star3half-c" title="Meh - 3.5 stars"></label>
                                    <input type="radio" id="star3-c" name="ratingC" value="6" /><label class="full" for="star3-c" title="Meh - 3 stars"></label>
                                    <input type="radio" id="star2half-c" name="ratingC" value="5" /><label class="half" for="star2half-c" title="Kinda bad - 2.5 stars"></label>
                                    <input type="radio" id="star2-c" name="ratingC" value="4" /><label class="full" for="star2-c" title="Kinda bad - 2 stars"></label>
                                    <input type="radio" id="star1half-c" name="ratingC" value="3" /><label class="half" for="star1half-c" title="Meh - 1.5 stars"></label>
                                    <input type="radio" id="star1-c" name="ratingC" value="2" /><label class="full" for="star1-c" title="Sucks big time - 1 star"></label>
                                    <input type="radio" id="starhalf-c" name="ratingC" value="1" /><label class="half" for="starhalf-c" title="Sucks big time - 0.5 stars"></label>
                                </fieldset>
                            </div>
                            <div class="col-sm-3">
                                Кухня
                                <fieldset class="rating A">
                                    <input type="radio" id="star5-a" name="ratingA" value="10" /><label class="full" for="star5-a" title="Awesome - 5 stars"></label>
                                    <input type="radio" id="star4half-a" name="ratingA" value="9" /><label class="half" for="star4half-a" title="Pretty good - 4.5 stars"></label>
                                    <input type="radio" id="star4-a" name="ratingA" value="8" /><label class="full" for="star4-a" title="Pretty good - 4 stars"></label>
                                    <input type="radio" id="star3half-a" name="ratingA" value="7" /><label class="half" for="star3half-a" title="Meh - 3.5 stars"></label>
                                    <input type="radio" id="star3-a" name="ratingA" value="6" /><label class="full" for="star3-a" title="Meh - 3 stars"></label>
                                    <input type="radio" id="star2half-a" name="ratingA" value="5" /><label class="half" for="star2half-a" title="Kinda bad - 2.5 stars"></label>
                                    <input type="radio" id="star2-a" name="ratingA" value="4" /><label class="full" for="star2-a" title="Kinda bad - 2 stars"></label>
                                    <input type="radio" id="star1half-a" name="ratingA" value="3" /><label class="half" for="star1half-a" title="Meh - 1.5 stars"></label>
                                    <input type="radio" id="star1-a" name="ratingA" value="2" /><label class="full" for="star1-a" title="Sucks big time - 1 star"></label>
                                    <input type="radio" id="starhalf-a" name="ratingA" value="1" /><label class="half" for="starhalf-a" title="Sucks big time - 0.5 stars"></label>
                                </fieldset>
                            </div>
                            <div class="col-sm-3">
                                Сервис
                                <fieldset class="rating B">
                                    <input type="radio" id="star5-b" name="ratingB" value="10" /><label class="full" for="star5-b" title="Awesome - 5 stars"></label>
                                    <input type="radio" id="star4half-b" name="ratingB" value="9" /><label class="half" for="star4half-b" title="Pretty good - 4.5 stars"></label>
                                    <input type="radio" id="star4-b" name="ratingB" value="8" /><label class="full" for="star4-b" title="Pretty good - 4 stars"></label>
                                    <input type="radio" id="star3half-b" name="ratingB" value="7" /><label class="half" for="star3half-b" title="Meh - 3.5 stars"></label>
                                    <input type="radio" id="star3-b" name="ratingB" value="6" /><label class="full" for="star3-b" title="Meh - 3 stars"></label>
                                    <input type="radio" id="star2half-b" name="ratingB" value="5" /><label class="half" for="star2half-b" title="Kinda bad - 2.5 stars"></label>
                                    <input type="radio" id="star2-b" name="ratingB" value="4" /><label class="full" for="star2-b" title="Kinda bad - 2 stars"></label>
                                    <input type="radio" id="star1half-b" name="ratingB" value="3" /><label class="half" for="star1half-b" title="Meh - 1.5 stars"></label>
                                    <input type="radio" id="star1-b" name="ratingB" value="2" /><label class="full" for="star1-b" title="Sucks big time - 1 star"></label>
                                    <input type="radio" id="starhalf-b" name="ratingB" value="1" /><label class="half" for="starhalf-b" title="Sucks big time - 0.5 stars"></label>
                                </fieldset>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea id="revText" style="width:100%" name="reviewText" cols="40" rows="5"></textarea>
                            <button id="makeReviewBt" type="submit" class="btn btn-success btn-block">Оставить отзыв</button>
                        </div>
                    }

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 text-center">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <p style="font-weight:bold">ЗАРЕЗЕРВИРОВАТЬ</p>
            </div>

            <div class="panel-body text-center center-block">
                <p>ДАТА</p>
                <div id="datepickerContainer" class="form-group center-block">
                    <div class="input-group">
                        @{
                            DateTime dt = DateTime.Now.Date;
                        }
                        <input type="text" id="datepicker" value=@dt class="form-control">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <p style="font-weight:bold">ВРЕМЯ</p>
                <div class="form-group center-block">
                    <div class="input-group clockpicker ">
                        @{
                            var dtt = DateTime.Now.ToShortTimeString();
                        }
                        <input id="timePicker" type="text" class="form-control" value=@dtt>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <p style="font-weight:bold">ВЫБРАТЬ СТОЛИК</p>
                <div class="center-block row">
                    <a data-toggle="modal" data-target="#SchemaModal" href="#">
                        <img src="~/Img/Schema.png" alt="img" class="img-responsive col-sm-12" />
                    </a>
                </div>
                <div id="reseredTables">@Html.Partial("_ReservedTablesPartial")</div>
            </div>

            <div class="panel-footer" style="padding: 10px 20px">
                <p style="font-weight:bold">КОНТАКТНАЯ ИНФОРМАЦИЯ</p>
                <div class="form-group">
                    <input id="name" type="text" class="form-control input-md" name="name" placeholder="Имя">
                </div>
                <div class="form-group">
                    <input id="phone" type="text" class="form-control input-md" name="phone" placeholder="Телефон">
                </div>

            </div>
            <div class="panel-body">
                <div class="form-group">
                    <button id="reservBt" type="button" class="btn btn-danger btn-block">Зарезервировать</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-lg fade" id="SchemaModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        @Html.Action("SchemaReservedTables", "Restaurant", new { id = Model.Id })
    </div>
</div>

<a style="visibility: hidden" id="confirmModalLink" data-toggle="modal" data-target="#ConfirmModal" href="#"></a>
<div class="modal fade" id="ConfirmModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        @using (Ajax.BeginForm("ConfirmReserv", null, new AjaxOptions { UpdateTargetId = "reseredTables" }, new { id = "confirmForm" }))
        {
            <div class="modal-content" style="width:400px">
                <div class="modal-header" style="background-color:#333333; color:white">
                    <button id="closeModalReserv" type="button" style="color:white" class="close" data-dismiss="modal">&times;</button>
                    Подтвердить резерв
                </div>
                <div id="confirmReservModalBody" class="modal-body" style="padding:40px 50px;">
                </div>
                <div class="modal-footer">
                    <button id="sumbitReservBt" type="submit" class="btn btn-success btn-default pull-left">
                        <span class="glyphicon glyphicon-ok"></span>
                        Подтвердить
                    </button>
                    <button class="btn btn-danger btn-default pull-right" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                        Отмена
                    </button>
                </div>
            </div>
        }
    </div>
</div>

<a style="visibility: hidden" id="errorModalLink" data-toggle="modal" data-target="#errorModal" href="#"></a>
<div class="modal fade" id="errorModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="width:200px">
            <div class="modal-header" style="background-color:#c34b4b; color:white">
                <span style="color:white">Данные не заполнены</span>
                <button id="closeModalError" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div id="confirmReservModalBody" class="modal-body" style="padding:40px 50px;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-default pull-left" data-dismiss="modal">Ок</button>
            </div>
        </div>
    </div>
</div>

<a style="visibility: hidden" id="successModalLink" data-toggle="modal" data-target="#successModal" href="#"></a>
<div class="modal fade" id="successModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="width:300px">
            <div class="modal-header" style="background-color:#333333; color:white">
                <span style="color:white">Бронь прошла успешно</span>
                <button id="closeModalSuccess" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div id="confirmReservModalBody" class="modal-body" style="padding:40px 50px;">
                <p>Ваша бронь подтверждена, ждем вас.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-default pull-right" data-dismiss="modal">Ок</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#makeReviewBt').click(function(){
        setTimeout(function() {
            $('input:radio').removeAttr('checked');
            $('#revText').val('');
        }, 1000);     
    });
    $('#reservBt').click(function () {
        var withProperty = [],
            els = document.getElementsByTagName('input'),
            i = 0,
            schemaId = -1,
            restId = @Model.Id,
            time = $('#timePicker').val(),
            date = $('#datepicker').val(),
            name = $('#name').val(),
            phone = $('#phone').val();
        var tablesCount=0;
        for (i = 0; i < els.length; i++) {
            if (els[i].hasAttribute('tableid')) {
                tablesCount++;
            }}

        if(name.length!=0&&phone.length!=0&&date.length!=0&&time.length!=0&&tablesCount>0){
            $('#confirmModalLink').click();

        }
        else{
            $('#errorModalLink').click();
            return;
        }

        $('#confirmReservModalBody').empty();
        $('#confirmReservModalBody').append("<p><span style=\"font-weight:bold\">Дата: </span>"+date+" "+time+"</p>");
        $('#confirmReservModalBody').append("<ul id=\"tablesUl\"><span style=\"font-weight:bold\">Столы:</span></ul>");
        for (i = 0; i < els.length; i++) {
            if (els[i].hasAttribute('tableid')) {

                $('#tablesUl').append("<li><input data-val=\"true\" name="+"tableId"+els[i].getAttribute('tableid')+
                    " type=\"hidden\" value="+els[i].getAttribute('tableid')+">"+"<div value="+1+">№ " + els[i].getAttribute('tableid') +
                    " (<span class=\"glyphicon glyphicon-user\">"+els[i].getAttribute('seats')+"</span>)</div>"+"</li>");

                withProperty.push(els[i]);
            }
            if (els[i].hasAttribute('schemaId') && schemaId==-1) {
                schemaId = els[i].getAttribute('schemaId');
            }
        }
        $('#confirmReservModalBody').append("<div><p><span style=\"font-weight:bold\">Имя: </span>"+name+"</p><p><span style=\"font-weight:bold\">Телефон: </span>"+phone+"</p></div>");
        $('#confirmForm').attr('action', '/Restaurant/ConfirmReserv?restId='+restId+'&schemaId=' + schemaId);
    });
</script>