@model IEnumerable<CityGoodTaste.Models.RestaurantEvent>

@{
    ViewBag.Title = "Events";
}

<form style="background-color:#333333;padding-left:1%; padding-right:1%">
    <div class="input-group" style="padding-bottom:10px; padding-top:10px;">
        <input type="text" class="form-control" placeholder="название ресторана, кухня, пункты меню" required>
        <div class="input-group-btn">
            <button type="button" class="btn btn-danger">Поиск ресторана</button>
        </div>
    </div>
</form>
<div>
    <div class="col-sm-2">
        <h4>категории</h4>
        <p>@CityGoodTaste.Resources.Resource.EventType:</p>
        @{ 
            CityGoodTaste.BusinessLayer.RestaurantDataManager manager = new CityGoodTaste.BusinessLayer.RestaurantDataManager ();
            var EventTypes = manager.GetAllEventTypes();
        }
        @foreach (var item in EventTypes)
        {
            <div class="checkbox">
                <label><input id="EventTypesCheck" type="checkbox" value="">@item.Name</label>
            </div>
        }
    </div>
    <div class="col-sm-10">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-4" style="text-align:left;">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <a href='@Url.Action("Details", "Restaurant", new { id = item.Restaurant.Id })' style="color:black; text-decoration:none">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </a>
                            </div>
                            <a href='@Url.Action("Details", "Restaurant", new { id = item.Restaurant.Id })'>
                                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%; height:200px" alt="Image" />
                            </a>
                            <div class="panel-footer">
                                <span class="oi oi-timer"></span> @Html.DisplayFor(modelItem => item.StartDate)<br />
                                <span class="oi oi-timer"></span> @Html.DisplayFor(modelItem => item.EndDate)<br />
                            </div>
                        </div>
                    </div>
                }
        </div>
    </div>
</div>
