@model IEnumerable<CityGoodTaste.Models.RestaurantEvent>

@{
    ViewBag.Title = "Events";
}
@{
    string language = @CityGoodTaste.Controllers.HomeController.getCulture();
    string path = "../../../Scripts/Custom/Localization/datepicker-" + language + ".js";
    <script src=@path></script>
}
@using (Ajax.BeginForm("EventsSearch", new { id = "EventsForm" }, new AjaxOptions { UpdateTargetId = "EventsList", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" }))
{
    <div class="input-group searchBlock">
        <input type="text" class="form-control" name="searchText" placeholder="Название ивента" id="searchTextEvents">
        <div class="input-group-btn">
            <button type="submit" id="sendData" class="btn btn-danger">Поиск</button>
        </div>
    </div>

    <div>
        <div class="col-sm-2" style="padding-right:0;">
            
            <div class="panel panel-default">
                <div class="panel-heading panelHeadingCustom">Типы:</div>
                <div class="panel-body" style="padding-left:10px;">
                    @{
                        CityGoodTaste.BusinessLayer.RestaurantDataManager manager = new CityGoodTaste.BusinessLayer.RestaurantDataManager();
                        var EventTypes = manager.GetAllEventTypes();
                    }
                    @foreach (var item in EventTypes)
                    {
                        <div class="checkbox">
                            <input type="checkbox" value=@item.Id id=@("eventType" + item.Id) class="EventTypesCheck" name="EventTypesCheck" unchecked />
                            <label for=@("eventType" + item.Id)>@item.Name</label>
                        </div>
                    }
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading panelHeadingCustom">Дата:</div>
                <div class="panel-body" style="padding-left:10px;">
                    <script>
                        $(function () {
                            $("#from").datepicker({
                                minDate: 0,
                                showOtherMonths: true,
                                selectOtherMonths: true
                            });
                            $("#to").datepicker({
                                minDate: 0,
                                showOtherMonths: true,
                                selectOtherMonths: true
                            });
                            var dateFormat = "mm/dd/yy",
                              from = $("#from")
                                .datepicker({
                                    defaultDate: "+1w",
                                    changeMonth: true,
                                    numberOfMonths: 1
                                })
                                .on("change", function () {
                                    to.datepicker("option", "minDate", getDate(this));
                                }),
                              to = $("#to").datepicker({
                                  defaultDate: "+1w",
                                  changeMonth: true,
                                  numberOfMonths: 1
                              })
                              .on("change", function () {
                                  from.datepicker("option", "maxDate", getDate(this));
                              });

                            function getDate(element) {
                                var date;
                                try {
                                    date = $.datepicker.parseDate(dateFormat, element.value);
                                } catch (error) {
                                    date = null;
                                }

                                return date;
                            }
                        });
                    </script>
                    <div id="datepickerContainer" class="form-group center-block">
                        <div class="input-group">
                            @{
                                DateTime dtFrom = DateTime.Now.Date;
                            }
                            <input type="text" id="from" name="from" value=@dtFrom class="form-control">
                            <span class="input-group-addon">
                                От
                            </span>
                        </div>
                    </div>
                    <div id="datepickerContainer" class="form-group center-block">
                        <div class="input-group">
                            @{
                                DateTime dtTo = DateTime.Now.AddYears(1).Date;
                            }
                            <input type="text" id="to" name="to" value=@dtTo class="form-control">
                            <span class="input-group-addon">
                                До
                            </span>
                        </div>
                    </div>
                    <button type="submit" id="sendData" class="btn btn-danger" style="width:100%">Искать</button>
                </div>
                
            </div>
        </div>
       
        <div class="col-sm-10">
            <div class="container text-center" id="EventsList">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-4 " style="text-align:left; padding-right:0; ">
                            <div class="panel panel-success">
                                <div class="panel-heading panelHeadingCustom">
                                    <a href='@Url.Action("Details", "Restaurant", new { id = item.Restaurant.Id })' style="color:black; text-decoration:none">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </a>
                                </div>
                                <div class="thumbs">
                                    <a href='@Url.Action("Details", "Restaurant", new { id = item.Restaurant.Id })'>
                                        <img src=@item.Photo class="img-responsive" style="width:100%; height:200px" alt="Image" />
                                    </a>
                                    <div class="caption">
                                        <span>@item.Restaurant.Name</span>
                                    </div>
                                </div>
                                <div class="panel-footer panelFooterCustom">
                                    <span class="glyphicon glyphicon-time"></span> Начала:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(modelItem => item.StartDate)<br />
                                    <span class="glyphicon glyphicon-time"></span> Завершение:&nbsp;@Html.DisplayFor(modelItem => item.EndDate)<br />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
                        }