@model IEnumerable<CityGoodTaste.Models.RestaurantEvent>

@{
    ViewBag.Title = "Events";
}

<form style="background-color:#333333;padding-left:1%; padding-right:1%">
    <div class="input-group" style="padding-bottom:10px; padding-top:10px;">
        <input type="text" class="form-control" placeholder="название ресторана, кухня, пункты меню" required>
        <div class="input-group-btn">
            <button type="button" class="btn btn-danger">Поиск ресторана</button>
        </div>
    </div>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
