@model IEnumerable<CityGoodTaste.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/Custom/Restaurants.js"></script>
@using (Ajax.BeginForm("RestaurantsSearch", new { id = "RestaurantsForm" }, new AjaxOptions { UpdateTargetId = "RestaurantsList", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" }))
{
    <div class="input-group searchBlock">
        <input type="text" class="form-control" id="searchTextRestaurants" placeholder="Название ресторана" name="searchText">
        <div class="input-group-btn">
            <button type="submit" id="sendData" class="btn btn-danger">Поиск</button>
        </div>
    </div>

    <div>
        <div id="searchFiltersBlock" class="col-sm-2" style="padding-right:0;">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading panelHeadingCustom">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse2">Особенности:</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse in filtersPanel" style="padding-left:10px;">
                        @{
                            var manager = new CityGoodTaste.BusinessLayer.RestaurantDataManager();
                            var Features = manager.GetAllRestaurantFeatures();
                        }

                        @foreach (var item in Features)
                        {
                            <div class="checkbox">
                                <input type="checkbox" value=@item.Id id=@("feature" + item.Id) class="FeaturesCheck" name="FeaturesCheck" unchecked />
                                <label for=@("feature" + item.Id)>@item.Name</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading panelHeadingCustom">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapseNeighborhoods">Районы города:</a>
                        </h4>
                    </div>
                    <div id="collapseNeighborhoods" class="panel-collapse collapse filtersPanel" style="padding-left:10px;">
                        @{
                            manager = new CityGoodTaste.BusinessLayer.RestaurantDataManager();
                            var Neighborhoods = manager.GetAllNeighborhoods();
                        }

                        @foreach (var item in Neighborhoods)
                        {
                            <div class="checkbox">
                                <input type="checkbox" value=@item.Id id=@("Neighborhood" + item.Id) class="NeighborhoodsCheck" name="NeighborhoodsCheck" unchecked />
                                <label for=@("Neighborhood" + item.Id)>@item.Name</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading panelHeadingCustom">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">Кухня:</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse filtersPanel" style="padding-left:10px;">
                        @{
                            manager = new CityGoodTaste.BusinessLayer.RestaurantDataManager();
                            var Cuisines = manager.GetAllCuisines();
                        }
                        @foreach (var item in Cuisines)
                        {
                            <div class="checkbox">
                                <input type="checkbox" value=@item.Id id=@("cuisine" + item.Id) class="CuisinesCheck" name="CuisinesCheck" unchecked />
                                <label for=@("cuisine" + item.Id)>@item.Name</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading panelHeadingCustom">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse3">Категории меню:</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse filtersPanel" style="padding-left:10px;">
                        @{
                            manager = new CityGoodTaste.BusinessLayer.RestaurantDataManager();
                            var MealGroups = manager.GetAllMealGroups();
                        }

                        @foreach (var item in MealGroups)
                        {
                            <div class="checkbox">
                                <input type="checkbox" value=@item.Id id=@("mealGroup" + item.Id) class="MealGroups" name="MealGroups" unchecked />
                                <label for=@("mealGroup" + item.Id)>@item.Name</label>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-10">
            <div class="container text-center" id="RestaurantsList">
                <div class="row NoMargin">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-4 " style="text-align:left; padding-right:0; ">
                            <div class="panel panel-success">
                                <div class="panel-heading panelHeadingCustom">
                                    <a href='@Url.Action("Details", "Restaurant", new { id = item.Id })' style="color:black; text-decoration:none">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </a>
                                </div>
                                <div class="thumbs">
                                    <a href='@Url.Action("Details", "Restaurant", new { id = item.Id })'>
                                        <img src=@item.Photo class="img-responsive" style="width:100%; height:200px" alt="Image" />
                                    </a>
                                    <div class="caption">
                                        <span style="float:left">Cредний чек: @item.AverageCheck ₴</span>
                                        <span style="float:right"><span class="glyphicon glyphicon-thumbs-up"> @item.Likes.Count</span></span>
                                    </div>
                                </div>
                                <div class="panel-footer panelFooterCustom">
                                    <span class="glyphicon glyphicon-map-marker"></span> @Html.DisplayFor(modelItem => item.Address)<br />
                                    <span class="glyphicon glyphicon-earphone"></span> @Html.DisplayFor(modelItem => item.PhoneNumber)<br />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}