@model CityGoodTaste.Models.ViewModels.RestaurantShemaViewModel

<div class="modal-content" style="width:1000px">
    <div class="modal-header" style="background-color:#333333; color:white">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-user"></span> @CityGoodTaste.Resources.Resource.RestaurantSchema</h4>
        <div style="text-align:center"><h2 style="display:inline-block">@Html.DisplayFor(m => m.Name, new { @class = "form-control" })</h2></div>
    </div>
    <div class="modal-body" style="padding:40px 50px;">

@using (Ajax.BeginForm("_ReservedTablesPartial", new AjaxOptions { UpdateTargetId = "reseredTables" }))
{            <button type="submit" class="btn btn-success btn-default pull-left"/>
        <div class="container-fluid" style="margin-bottom:50px;">
            <div class="panel-heading">


                <button id="submitBt" type="submit" class="btn btn-success btn-default pull-left" data-dismiss="modal">

                    <span class="glyphicon glyphicon-ok"></span>
                    Ok
                </button>
                <button class="btn btn-danger btn-default pull-right" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancel
                </button>
            </div>
            <table style="border-left:3px solid black; border-right:3px solid black; border-bottom:3px solid black">
                @for (int y = 0; y < Model.YLength; y++)
                {
                    <tr>
                        @for (int x = 0; x < Model.XLength; x++)
                            {
                                bool tdCreated = false;

                                for (int i = 0; i < Model.Tables.Count; i++)
                                {
                                    if (Model.Tables[i].X == x && Model.Tables[i].Y == y)
                                    {
                                        @Html.HiddenFor(m => Model.Tables[i].Id)
                                        @Html.HiddenFor(m => Model.Tables[i].Reserved, new { id = "reserved." + Model.Tables[i].Id })
                                        string personPath = string.Empty;
                                        string tablePath = string.Empty;

                                        if (Model.Tables[i].ReservedAndConfirmed == true)
                                        {
                                            personPath = "/Content/icons/SchemaIcons/InactivePerson.png";
                                            tablePath = "/Content/icons/SchemaIcons/InactiveTable.png";
                                        }
                                        else if (Model.Tables[i].Reserved == true)
                                        {
                                            personPath = "/Content/icons/SchemaIcons/ActivePerson.png";
                                            tablePath = "/Content/icons/SchemaIcons/ActiveTable.png";
                                        }
                                        else
                                        {
                                            personPath = "/Content/icons/SchemaIcons/Person.png";
                                            tablePath = "/Content/icons/SchemaIcons/Table.png";
                                        }
                                        <td id="@x@y" style="width:98px;height:81px; text-align: center; border:solid 1px black;" tableid="@Model.Tables[i].Id" reserved="@Model.Tables[i].Reserved.ToString()" reservedandconfirmed="@Model.Tables[i].ReservedAndConfirmed.ToString()">
                                            <div id="divP.@x@y" style="top:10px; position:relative" tableid="@Model.Tables[i].Id">
                                                <p id="P.@x@y" style="font-weight:bold" tableid="@Model.Tables[i].Id">
                                                    @Model.Tables[i].Seats
                                                    <img id="imgP.@x@y" style="width:15px; height:15px" src="@(personPath)" tableid="@Model.Tables[i].Id" />
                                                </p>
                                            </div>
                                            <div id="divT.@x@y" style="top:-10px; position:relative" tableid="@Model.Tables[i].Id">
                                                <img id="imgT.@x@y" style="width:48px; height:48px" src="@(tablePath)" alt="loading" tableid="@Model.Tables[i].Id" />
                                            </div>
                                        </td>
                                        tdCreated = true;
                                        break;
                                    }
                                }
                                if (!tdCreated)
                                {
                                    <td id="@x@y" style="width:98px;height:81px; text-align: center; border:solid 1px black;"></td>
                                }
                            }
                    </tr>
                    }
            </table>

        </div>
        }
</div>
</div>







<script>
    @*$('#submitBt').click(function () {
        var model = @Html.Raw(Json.Encode(@Model));
        $.ajax({
            url: '/Restaurant/Schemaa',
            type: 'POST',
            data: JSON.stringify(model),
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                alert('da');
            },
            error: function (xhr, status, p3) {
                
            }
        });
    });*@
                $('td').click(function (event) {
                    event.stopPropagation();
                    var id = event.target.id;

                    if (id.indexOf('.') > 0)
                        id = id.substring(id.indexOf('.') + 1);

                    var reserved = document.getElementById(id).getAttribute('reserved');
                    if (document.getElementById(id).getAttribute('reservedandconfirmed') == "True")
                        return;

                    var tableId = document.getElementById('imgP.' + id).getAttribute('tableId');

                    if (reserved == "True") {
                        document.getElementById('imgP.' + id).src = "/Content/icons/SchemaIcons/Person.png";
                        document.getElementById('imgT.' + id).src = "/Content/icons/SchemaIcons/Table.png";
                        document.getElementById('P.' + id).style.color = "black";
                        document.getElementById(id).setAttribute('reserved', 'False');
                        document.getElementById('reserved.' + tableId).value = false;
                    } else {

                        document.getElementById('imgP.' + id).src = "/Content/icons/SchemaIcons/ActivePerson.png";
                        document.getElementById('imgT.' + id).src = "/Content/icons/SchemaIcons/ActiveTable.png";
                        document.getElementById('P.' + id).style.color = "green";
                        document.getElementById(id).setAttribute('reserved', 'True');
                        document.getElementById('reserved.' + tableId).value = true;
                    }
                });

                $('document').ready(createBorders());
                function createBorders() {
                    $('#03').css('border-bottom', '3px solid black');
                    $('#13').css('border-bottom', '3px solid black');
                    $('#23').css('border-bottom', '3px solid black');
                    $('#33').css('border-bottom', '3px solid black');

                    $('#72').css('border-bottom', '3px solid black');
                    $('#82').css('border-bottom', '3px solid black');
                    $('#92').css('border-bottom', '3px solid black');


                    $('#75').css('border-bottom', '3px solid black');
                    $('#85').css('border-bottom', '3px solid black');
                    $('#95').css('border-bottom', '3px solid black');

                    $('#60').css('border-right', '3px solid black');
                    $('#62').css('border-right', '3px solid black');

                    $('#63').css('border-right', '3px solid black');
                    $('#65').css('border-right', '3px solid black');

                    $('#66').css('border-right', '3px solid black');
                    $('#68').css('border-right', '3px solid black');
                    $('#69').css('border-right', '3px solid black');

                    $('#34').css('border-right', '3px solid black');
                    $('#36').css('border-right', '3px solid black');
                    $('#37').css('border-right', '3px solid black');
                    $('#38').css('border-right', '3px solid black');
                    $('#39').css('border-right', '3px solid black');

                    $('#00').css('border-top', '3px solid black');
                    $('#10').css('border-top', '3px solid black');
                    $('#30').css('border-top', '3px solid black');
                    $('#40').css('border-top', '3px solid black');
                    $('#50').css('border-top', '3px solid black');
                    $('#60').css('border-top', '3px solid black');
                    $('#70').css('border-top', '3px solid black');
                    $('#80').css('border-top', '3px solid black');
                    $('#90').css('border-top', '3px solid black');
                }
</script>
