<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Good Taste City</title>
    @*Custom Scripts*@
    @Scripts.Render("~/bundles/defaultScript")
    @Scripts.Render("~/bundles/customScript")

    @*Default Styles*@
    @Styles.Render("~/bundles/defaultStyle")
    @Styles.Render("~/bundles/customStyle")

    <script src="~/Scripts/Custom/MainPage.js"></script>
</head>
<body>

    <div class="contentWithoutFooterWrapper">
        <nav id="navPanel" class="navbar navbar-inverse" style="margin-bottom:0px">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href='@Url.Action("Index", "Home")'><span class="glyphicon glyphicon-home"></span> GTC</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink(CityGoodTaste.Resources.Resource.Restaurants, "Index", "Restaurant")</li>
                        <li>@Html.ActionLink(CityGoodTaste.Resources.Resource.Events, "Events", "Restaurant")</li>
                        <li><a data-toggle="modal" data-target="#BotModal" href="#">@CityGoodTaste.Resources.Resource.SmartAssistant</a></li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>

        <div class="container body-content NoMargin NoPadding" style="max-width:none">
            @RenderBody()
        </div>

        <div class="empty"></div>
    </div>

    

    <footer class="container-fluid text-center"  style="margin: 0px; padding: 0px; background-color:crimson">
        <a class="up-arrow" href="#navPanel" data-toggle="tooltip" title="TO TOP">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
        <div>
            <div style="float:right; margin-right:10px;">
                <a class="btn btn-default CountryIcon" style="background-image:url('Content/icons/flags/en.png');" href="@Url.Action("ChangeCulture", "Home", new { lang = "en-US" })" data-toggle="tooltip" title="English">&nbsp;</a>
                <a class="btn btn-default CountryIcon" style="background-image:url('Content/icons/flags/ruRU.png');" href="@Url.Action("ChangeCulture", "Home", new { lang = "ru-RU" })" data-toggle="tooltip" title="Русский">&nbsp;</a>
                <a class="btn btn-default CountryIcon" style="background-image:url('Content/icons/flags/ukUA.png');" href="@Url.Action("ChangeCulture", "Home", new { lang = "uk-UA" })" data-toggle="tooltip" title="Українська">&nbsp;</a>
            </div>
        </div>      
    </footer>


    <div class="modal fade" id="BotModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color:#333333; color:white">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-user"></span> @CityGoodTaste.Resources.Resource.SmartAssistant</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <p>В разработке</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-default pull-left" data-dismiss="modal">
                    <span class="glyphicon glyphicon-ok"></span>
                     Ok</button>
                    <button type="submit" class="btn btn-danger btn-default pull-right" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div> 
    @RenderSection("scripts", required: false)
</body>
</html>