@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="@Url.Action("Index", "Manage")" title="Manage">
                    <span class="oi" data-glyph="person"></span>
                    <span>@User.Identity.GetUserName()</span>
                </a>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">
                    <span class="oi" data-glyph="account-logout"></span>
                    <span>Выйти</span>
                </a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Register", "Account")" id="registerLink">
                <span class="oi" data-glyph="person"></span>
                <span>Регистрация</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Login", "Account")" id="loginLink">
                <span class="oi" data-glyph="account-login"></span>
                <span>Войти</span>
            </a>
        </li>
    </ul>
}