@model CityGoodTaste.Models.IndexViewModel

<script src="~/Scripts/Custom/Account/ManageAccount.js"></script>
<link href="~/Content/css/Custom/Controls/FilesUploadInput.css" rel="stylesheet" />
@{
    ViewBag.Title = "Настройки учетной записи";
}

<h2>@ViewBag.Title</h2>

@*@using (Html.BeginForm("AttachMediaFiles", "home", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadFilesForm" }))
{
    <input type="file" name="filesUpload" multiple="multiple" id="filesForTheServer" accept=".mp3" /><br />
    <input type="submit" name="Submit" id="SubmitMultiply" value="Upload" />
    <input type="file" class="custom-file-input">
}*@

<div id="manageAccountWrapper" class="container-fluid">
    <div class="row">
        @using (Html.BeginForm("SaveAccountChanges", "Manage", Model, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.CurrentUser)
            @Html.HiddenFor(model => model.CurrentUser.Id)
            @Html.HiddenFor(model => model.CurrentUser.UserName)

            <div id="personalDataContainer" class="col-sm-12 col-md-4 col-lg-4">
                <div class="input-group">
                    <h3>Личные данные</h3>
                </div>

                <div class="input-group">
                    <img id="photoImage" src="~/Img/userDefaultPhoto.png"
                         class="img-thumbnail img-responsive" width="200" height="200" />
                </div>
                <div class="input-group">
                    <button id="addPhotoButton" class="btn btn-default" style="width:200px">Добавить фото</button>
                </div>

                <div class="separator"></div>

                <div class="form-group">
                    <label>Имя:</label>
                    <input id="nameInput" type="text" value="@Model.UserName" />
                </div>
                <div class="form-group">
                    <label>Фамилия:</label>
                    <input id="surnameInput" type="text" value="@Model.CurrentUser.Surname" />
                </div>

                <div class="form-group">
                    <label>Почта:</label>
                    <input id="emailInput" type="text" value="@Model.CurrentUser.Email" />
                </div>
                <div class="form-group">
                    <label>Телефон:</label>
                    <input id="phoneInput" type="text" value="@Model.CurrentUser.PhoneNumber" />
                </div>

                <div class="form-group">
                    <label>Страна:</label>
                    <select id="countrySelect">
                        <option selected="selected" value="Odessa">Украина</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Город:</label>
                    <select id="citySelect">
                        <option selected="selected" value="Odessa">Одесса</option>
                        <option value="Kiev">Киев</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Пол:</label>
                    <select id="genderSelect">
                        <option selected="selected" value="male">Мужской</option>
                        <option value="female">Женский</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Дата рождения:</label>
                    <input id="birthdayInput" type="text" value="@Model.CurrentUser.DateOfBirth" />
                </div>

                <div class="input-group">
                    <p class="text-success">@ViewBag.StatusMessage</p>
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Изменить пароль", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Создать", "SetPassword")
                    }
                </div>

                <div class="input-group">
                    <button id="saveAccountChangesButton" class="btn btn-default" style="width:200px">Сохранить все</button>
                </div>
            </div>
        }
        
        <div id="ordersContainer" class="col-sm-12 col-md-4 col-lg-4">
            <h3>История заказов</h3>
        </div>

        <div id="preferencesContainer" class="col-sm-12 col-md-4 col-lg-4">
            <h3>Предпочтения</h3>
        </div>
    </div>
</div>