@model CityGoodTaste.Models.ExternalLoginConfirmationViewModel

@{
    ViewBag.Title = "Вход";
}

<div class="authenticationBlock">
    @*<h2>@ViewBag.Title</h2>*@
    <h3>Связать свой аккаунт с учетной записью в @ViewBag.LoginProvider</h3>

    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <h4></h4>
        <hr />
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        <p class="text-info">
            Аутентификация с <strong>@ViewBag.LoginProvider</strong> прошла успешно.
            Введите имя пользователя для этого сайта и нажмите "Вход" для завершения.
        </p>
        <div class="separator"></div>
        <div id="validationEmailForm" class="form-group">
            @*<label id="validationEmail" class="validationLabel col-md-12"></label>*@
            <div class="input-group col-md-12">
                <span class="input-group-addon"><i class="oi" data-glyph="person"></i></span>
                <input value="Timur@gmail.com" id="email" type="text" class="form-control input-md authenticationInput" name="email" placeholder="Имя пользователя">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input id="logInButton" type="submit" value="Вход" class="btn btn-primary modalButton" />
            </div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}