@using CityGoodTaste.Models

@model LoginViewModel

@{
    ViewBag.Title = "Авторизоваться";
}

<div class="authenticationBlock">
    <h2 class="centralHeader">@ViewBag.Title</h2>

    <div class="row">
        <div class="col-md-12">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>*@


                if (ViewData["ValidationMessage"].ToString() != "")
                {
                    <script>
                        $(document).ready(function () {
                            $("#validationSummary").css("display", "block");
                        })
                    </script>
                }
                <label id="validationSummary" class="validationSummaryLabel col-md-12">@ViewData["ValidationMessage"]</label>
                <hr />

                    <div class="form-group">
                        <label id="validationEmail" class="validationLabel col-md-12"></label>
                        <div class="input-group col-md-12">
                            <span class="input-group-addon"><i class="oi" data-glyph="envelope-closed"></i></span>
                            <input value="@Model.Email" id="email" type="text" class="form-control input-md authenticationInput" name="email" placeholder="Эл. адрес">
                        </div>
                    </div>

                    <div class="form-group">
                        <label id="validationPassword" class="validationLabel col-md-12"></label>
                        <div class="input-group col-md-12">
                            <span class="input-group-addon"><i class="oi" data-glyph="key"></i></span>
                            <input value="@Model.Password" id="password" type="password" class="form-control input-md authenticationInput" name="password" placeholder="Пароль">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                <input value="@Model.RememberMe" type="checkbox" id="rememberMe" name="rememberMe" unchecked />
                                <label for="rememberMe">Запомни меня?</label>
                            </div>
                            @*<div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.Label("Запомни меня?")
                                </div>*@
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <input id="logInSubmit" type="submit" value="Вход" class="btn btn-primary modalButton" />
                        </div>
                    </div>

                    <p>
                        <span style="float:left">@Html.ActionLink("Регистрация", "Register")</span> <span style="float:right">@Html.ActionLink("Забыли пароль? ", "ForgotPassword")</span>
                    </p>
                }
            </section>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}