@using CityGoodTaste.Models

@model CityGoodTaste.Models.RegisterViewModel

<script src="~/Scripts/Custom/Account/SignUp.js"></script>

@{
    ViewBag.Title = "Регистрация";
}

<article class="authenticationBlock">
    <h2 class="centralHeader">@ViewBag.Title</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        if (ViewData["ValidationMessage"].ToString() != "")
        {
            <script>
                $(document).ready(function () {
                    $("#validationSummary").css("display", "block");
                })
            </script>
        }
        <label id="validationSummary" class="validationSummaryLabel col-md-12">@ViewData["ValidationMessage"]</label>
        <hr />

        <div id="validationEmailForm" class="form-group">
            <label id="validationEmail" class="validationLabel col-md-12"></label>
            <div class="input-group col-md-12">
                <span class="input-group-addon"><i class="oi" data-glyph="envelope-closed"></i></span>
                <input value="@Model.Email" id="email" type="text" class="form-control input-md authenticationInput" name="email" placeholder="Эл. почта">
            </div>
        </div>

        <div id="validationPasswordForm" class="form-group">
            <label id="validationPassword" class="validationLabel col-md-12"></label>
            <div class="input-group col-md-12">
                <span class="input-group-addon"><i class="oi" data-glyph="key"></i></span>
                <input value="@Model.Password" id="password" type="password" class="form-control input-md authenticationInput" name="password" placeholder="Пароль">
            </div>
        </div>

        <div id="validationConfirmPasswordForm" class="form-group">
            <label id="validationConfirmPassword" class="validationLabel col-md-12"></label>
            <div class="input-group col-md-12">
                <span class="input-group-addon"><i class="oi" data-glyph="key"></i></span>
                <input value="@Model.ConfirmPassword" id="passwordConfirm" type="password" class="form-control input-md authenticationInput" name="confirmPassword" placeholder="Подтверждение пароля">
            </div>
        </div>

        <div id="validationNameForm" class="form-group">
            <label id="validationName" class="validationLabel col-md-12"></label>
            <div class="input-group col-md-12">
                <span class="input-group-addon"><i class="oi" data-glyph="person"></i></span>
                <input value="@Model.Name" id="name" type="text" class="form-control input-md authenticationInput" name="name" placeholder="Имя">
            </div>
        </div>

        <div id="validationSurnameForm" class="form-group">
            <label id="validationSurname" class="validationLabel col-md-12"></label>
            <div class="input-group col-md-12">
                <span class="input-group-addon"><i class="oi" data-glyph="person"></i></span>
                <input value="@Model.Surname" id="surname" type="text" class="form-control input-md authenticationInput" name="surname" placeholder="Фамилия">
            </div>
        </div>

        <div id="validationPhoneForm" class="form-group">
            <label id="validationPhone" class="validationLabel col-md-12"></label>
            <div class="input-group col-md-12">
                <span class="input-group-addon"><i class="oi" data-glyph="phone"></i></span>
                <input value="@Model.Phone" id="phone" type="text" class="form-control input-md authenticationInput" name="phone" placeholder="Телефон">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input id="signUpButton" type="submit" class="btn btn-md btn-primary modalButton" value="Зарегистрироваться" />
            </div>
        </div>
    }

    <section id="socialSignUpForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</article>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}